

$Playfair: 'Playfair Display', serif;

$poppins: 'Poppins', sans-serif;



$bg-color: #002847;
$bg_color2: #F5F5F5;
$color_1: #1a1b35;
$color_2: #555;
$color_3: #999;
$color_4: #000;
$white:#fff;


$extraBig-device : 'only screen and (min-w idth: 1600px)';
$laptop-device : 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$desktop-device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tablet-device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large-mobile:'only screen and (max-width: 767px)';
$small-mobile: 'only screen and (max-width: 479px)';